<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Unit Converters</title>
    <link rel="stylesheet" type="text/css" href="static/home.css">
  </head>
  <body>
    <div class="header-box">
      <h1 class="header">Unit Converters</h1>
    </div>
    <div class="link-container">
      <a href="/currency" class="currency-link">Currency</a>
      <a href="/chemistry" class="chemistry-link">Chemistry</a>
      <a href="/physics" class="physics-link">Physics</a>
    </div>
  </body>
</html>


